<% provide(:title, @user.name) %>
<div class="row">
  <% if logged_in? && current_user.admin? && (not @user.activated?) %>
	  <%= link_to edit_account_activation_path(@user) do %>
		 <input type="button" value="Activate" class="btn btn-primary marginally_left"/>
	  <% end %>
  <% end %>
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
