<% provide(:title, 'All books') %>
<h1>All books</h1>
<div class="list">
<%= will_paginate %>

<div class="books">
  <% @books.each do |book| %>
    <%= render book %>
  <% end %>
</div>

<%= will_paginate %>
</div>