<% provide(:title, 'All books') %>
<h1>All books</h1>
<div class="list">
<% if logged_in?  %>
	<%= link_to new_book_path do %>
	  <input type="button" value="New" class="btn btn-primary new_action"/>
	<% end %>
<% end %>
<%= will_paginate %>

<div class="books">
  <% @books.each do |book| %>
    <%= render book %>
  <% end %>
</div>

<%= will_paginate %>
</div>