// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.books {
	text-align: center;
	table-layout: fixed;
	color: black;
}

.books td 
{
	width:15%;
}

.books th 
{
	width:20%;
}


.books img {
	width:80px;
	float: left;
	box-shadow: 10px 10px 5px #888888;
}

.synopsis {
	padding-top: 20px;
	margin-left: 10px;
	border: solid 2px;
}

a:hover, a:visited, a:active, a:link {
	color: black;
}


.show_book {
	margin-top:50px;
}

.show_book_table {
	text-align: center;
	border: 2px solid;
	border-radius: 30px;
}

.show_book td {
	border: solid 2px;
}

.synopsis_text {
	margin-left: 20px;
	margin-top: 20px;
}

.show_book input {
	width: 50px;	
}

h1 {
	font-size: 125%;
}

table.center {
	margin-left:auto;
	margin-right:auto;
	width: 50%;
}

table.center th,td{
	text-align: center;
	border: 2px solid;
}


