// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.books {
	text-align: center;
	table-layout: fixed;
	color: black;
}

.books td 
{
	width:15%;
}

.books th 
{
	width:20%;
}


.books img {
	width:80px;
	float: left;
	box-shadow: 10px 10px 5px #888888;
}

.synopsis {
	padding-top: 20px;
	margin-left: 10px;
	border: solid 2px;
}

a:hover, a:visited, a:active, a:link {
	color: black;
}


.show_book {
	margin-top:50px;
}

.show_book_table {
	text-align: center;
	border: 2px solid;
}


.synopsis_text {
	margin-left: 20px;
	margin-top: 20px;
}

.show_book input {
	width: 50px;	
}

h1 {
	font-size: 125%;
}

table.center {
	margin-left:auto;
	margin-right:auto;
}

table.copies {
	width: 100%;
}

.data{
	text-align: center;
	border: solid 2px;
}

.marginally_top {
	margin-top: 20px;
}

.marginally_left {
	margin-left: 0px;
}

div.pagination {
	width: 100%;
}


.action {
	border: 0px;
	float: left;
	width: 50%;
}

.new_action {
	border: 0px;
	float: left;
	width: 10%;
}

.new_possession {
	display: inline;
	float: left;
	margin-right:10px;
}

.edit_possession {
	display: inline;
	float: left;
	margin-right:10px;
	font: 2px;
}

.unOrder {
	 width: 60px !important;
}

.unBorrow {
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.25s, 0.25s;
	-webkit-transition-timing-function: linear, ease-in;
	-o-transition-property: background-color;
	-o-transition-duration: 0.25s, 0.25s;
	-o-transition-timing-function: linear, ease-in;
	-moz-transition-property: background-color;
	-moz-transition-duration: 0.25s, 0.25s;
	-moz-transition-timing-function: linear, ease-in;
	transition-property: background-color;
	width:100px !important;
	background-color: #FF9900 !important;
}

.unBorrow:hover {
	width:100px !important;
	background-color: #BB2233 !important;
}