<footer class="footer navbar-fixed-bottom" style="background-color: white;">
  <small>
    The Trips Portal
    by Arkadiusz Krawczyk
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>